@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

body {
    font-family: Open Sans, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="number"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}


/* Header */
/* Apply a gradient background to the header */
header {
    top: 0;
    background: linear-gradient(to right, #fcb045, #833ab4);
    /* Add a drop shadow to the header */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
    z-index: 9999;
}

/* Style the title */
header h1 {
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* buttons */
.buttonHeader {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: box-shadow 0.15s ease,
        transform 0.15s ease;
    will-change: box-shadow,
        transform;
    background: #FCFCFD;
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%),
        0px 7px 13px -3px rgb(45 35 66 / 30%),
        inset 0px -3px 0px #d6d6e7;
    height: 48px;
    padding: 0 32px;
    font-size: 18px;
    border-radius: 6px;
    color: #36395a;
    transition: box-shadow 0.15s ease,
        transform 0.15s ease;
}

.buttonHeader:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    transform: translateY(-2px);
}

/* Buttons */
.button1 {
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.button1:hover {
    background-color: #3e8e41;
}

.button2 {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 6px;
    color: #0366d6;
    background-color: #fafbfc;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color;
}

.button2:hover {
    color: #ffffff;
    background-color: #0366d6;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.1) 0px 1px 0px 0px, rgba(255, 255, 255, 0.03) 0px 1px 0px 0px inset;
    transition-duration: 0.1s;
}

/* My Personal Data Table */
.personal-table {
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
}

.personal-table th,
.personal-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.personal-table th {
    background-color: #f5f5f5;
    font-weight: bold;
    color: #333;
}

/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Vizualization iframe */
iframe {
    width: 95%;
    height: 100%;
    border: 2px solid black;
    min-height: 800px;
}

/* Legend for map.php */
.legend {
    display: none;
    position: fixed;
    bottom: 10px;
    left: 10px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #fff;
    z-index: 9999;
}

.legend h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.color-box {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.legend-item span {
    font-size: 14px;
}

/* Country list for map.php */
.country-list-item {
    list-style-type: none;
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

#country-name {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    font-family: sans-serif;
    background-color: gainsboro;
    padding: 2px;
    box-sizing: border-box;
}

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336;
    /* Red */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.alert_closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.alert_closebtn:hover {
    color: black;
}

/* Admin Dashboard and Buttons */
.dashboardWrapper {
    display: flex;
    width: 100%;
}

.dashboard-content {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    /* make child elements stack vertically */
    justify-content: center;
    /* center vertically */
    align-items: center;
    /* center horizontally */
}


.adminButton-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
    /* center horizontally */
}

.adminButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    height: 120px;
    width: 200px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.adminButton:hover {
    background-color: #3E8E41;
}

.user-list {
    background-color: #2196F3;
}

.add-user {
    background-color: #FF9800;
}

.country-data {
    background-color: #9C27B0;
}

.add-country-data {
    background-color: #607D8B;
}

.adminButton i {
    margin-right: 10px;
    font-size: 30px;

}

.adminSmall {
    height: 40px;
    width: 80px;
    padding: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.adminEdit {
    background-color: #2ecc71;
}

.adminDelete {
    background-color: #e67e22;
}

.adminDelete:hover {
    background-color: #d35400;
}

.adminCreate {
    background-color: #e74c3c;
    color: #ffffff;
}

/* iframe transition */
.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in.active {
    opacity: 1;
}

/* Register login error message */
.error-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    margin-bottom: 10px;
}

/*  Visualization Objects */
#leftOverlay {
    position: absolute;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
}

#rightOverlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    padding: 10px;
    z-index: 9999;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-left: 1px solid #ddd;
    box-sizing: border-box;
}

#yearDiv,
#bmiDiv,
#resetButton,
#countryCountDiv {
    margin: 10px
}

.country-list-item {
    margin: 5px 0;
    padding: 5px;
    cursor: pointer;
}

.country-list-item:hover {
    background-color: #ddd;
}


.chart-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.chart-holder iframe {
    overflow: hidden;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.visualization-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1em;
}

.chart-holder h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
    color: #fff;
    text-shadow: 2px 2px #333;
}

.visualization-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #f1c40f;
    color: #fff;
    font-size: 2em;
    padding: 1em 2em;
    border-radius: 10px;
    margin: 0.5em;
    box-shadow: 2px 2px #333;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.visualization-button i {
    margin-right: 0.5em;
}

.visualization-button:hover {
    transform: translateY(-5px);
}

.visualization-button:active {
    transform: translateY(0);
    box-shadow: 1px 1px #333;
}

#info-box {
    position: absolute;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333;
    font-family: 'Helvetica Neue', sans-serif;
    padding: 20px;
    width: 300px;
    cursor: grabbing;
    display: none;
}

#info-box h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

#info-box p {
    font-size: 16px;
    margin: 10px 0;
}

#info-box strong {
    font-weight: bold;
}

#info-box p:last-child {
    margin-bottom: 0;
}

label[for] {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}

.select {
    appearance: none;
    background-color: #f8f8f8;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 40px 10px 20px;
    position: relative;
    width: 200px;
}

.select::after {
    content: "\25BC";
    color: #333;
    font-size: 14px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.select option {
    background-color: #fff;
    color: #333;
}

.select option:checked {
    background-color: #0077c2;
    color: #fff;
}

.cool-button {
    background-color: #0077c2;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}

.cool-button:hover {
    background-color: #fff;
    color: #0077c2;
}

.cool-button::before {
    content: "";
    background-color: #fff;
    border-radius: 50%;
    height: 0;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 150%;
    z-index: -1;
    transition: all 0.3s ease;
}

.cool-button:hover::before {
    height: 300%;
    opacity: 0.2;
}

.cool-button::after {
    content: "";
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    height: 150%;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 150%;
    z-index: -2;
    transition: all 0.3s ease;
}

.cool-button:hover::after {
    height: 250%;
    opacity: 0.1;
}

.visButton-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.visButton {
    background-color: #3a3a3a;
    border: none;
    color: #fff;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.visButton:hover {
    background-color: #f39c12;
    transform: scale(1.1);
}

.visButton i {
    font-size: 24px;
    margin-right: 8px;
    position: relative;
    top: 3px;
}

.visButton span {
    position: relative;
    top: -3px;
}

.export-btn {
    background-color: #f39c12;
}

.export-btn:hover {
    background-color: #3a3a3a;
}

/* Home Page */
.homeContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-bottom: 20px;
}

.card h2 {
    margin-top: 0;
    font-size: 2em;
}

.card p {
    font-size: 1.2em;
    line-height: 1.5;
}

.homeBtn {
    background-color: #0073e6;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
}

.homeBtn:hover {
    background-color: #0059b3;
}

.homeRow {
    display: flex;
    flex-wrap: wrap;
}

.homeCol {
    flex: 1;
    margin: 10px;
}

.homeCol img {
    width: 100%;
    border-radius: 5px;
}

/* Register Page */
.password-requirements {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 20px;
}

.password-requirements li {
    margin-bottom: 5px;
    color: gray;
    font-size: smaller;
}

/* BMI Calculator Page */
.bmiForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.bmiInput[type="text"],
.bmiInput[type="number"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
}

.bmiInput[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    cursor: pointer;
}

.bmiInput[type="submit"]:hover {
    background-color: #3e8e41;
}

.bmiResult {
    display: none;
    text-align: center;
    margin-top: 50px;
}

.bmiResult h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.bmiResult p {
    font-size: 24px;
    margin-top: 0;
}

/* Chart Page */
.chart-exp-button {
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, .1) 0 6px 20px;
    box-sizing: border-box;
    color: #121212;
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s, -webkit-box-shadow .2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.chart-exp-button:hover {
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}