<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /obesity-visualizer/

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule ^admin/([^/]+)/?$ AdminService/index.php?type=$1 [QSA,L]
    RewriteRule ^admin/([^/]+)/([^/]+)/?$ AdminService/index.php?type=$1&id=$2 [QSA,L]

    
    RewriteRule ^chart/?$ ChartService/index.php [QSA,L]
    RewriteRule ^chart/([^/]+)/?$ ChartService/index.php?bmi=$1 [QSA,L]
    RewriteRule ^chart/([^/]+)/([^/]+)/?$ ChartService/index.php?bmi=$1&year=$2 [QSA,L]

    RewriteRule ^country/([^/]+)/?$ CountryService/index.php?type=$1 [QSA,L]
    RewriteRule ^country/([^/]+)/([^/]+)/?$ CountryService/index.php?type=$1&id=$2 [QSA,L]

    RewriteRule ^auth/([^/]+)/?$ LoginService/index.php?type=$1 [QSA,L]

    RewriteRule ^user/([^/]+)/?$ UserService/index.php?id=$1 [QSA,L]
</IfModule>