body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="number"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Header */
header {
    position: sticky;
    top: 0;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* buttons */
.buttonHeader {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: box-shadow 0.15s ease,
        transform 0.15s ease;
    will-change: box-shadow,
        transform;
    background: #FCFCFD;
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%),
        0px 7px 13px -3px rgb(45 35 66 / 30%),
        inset 0px -3px 0px #d6d6e7;
    height: 48px;
    padding: 0 32px;
    font-size: 18px;
    border-radius: 6px;
    color: #36395a;
    transition: box-shadow 0.15s ease,
        transform 0.15s ease;
}

.buttonHeader:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    transform: translateY(-2px);
}

/* Buttons */
.button1 {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.button1:hover {
    background-color: #3e8e41;
}

.button2 {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 6px;
    color: #0366d6;
    background-color: #fafbfc;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color;
}

.button2:hover {
    color: #ffffff;
    background-color: #0366d6;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.1) 0px 1px 0px 0px, rgba(255, 255, 255, 0.03) 0px 1px 0px 0px inset;
    transition-duration: 0.1s;
}

/* My Personal Data Table */
.personal-table {
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
}

.personal-table th,
.personal-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.personal-table th {
    background-color: #f5f5f5;
    font-weight: bold;
    color: #333;
}

/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Vizualization iframe */
iframe {
    width: 90%;
    height: 100%;
    border: 2px solid black;
    min-height: 800px;
}

/* Legend for map.php */
.legend {
    display: none;
    position: fixed;
    bottom: 10px;
    left: 10px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #fff;
    z-index: 9999;
}

.legend h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.color-box {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.legend-item span {
    font-size: 14px;
}

/* Country list for map.php */
.country-list-item {
    list-style-type: none;
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

/* Info box and hover name for country */
.info-box {
    display: none;
    position: fixed;
    padding: 2px;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #fff;
    z-index: 9999;
}

#country-name {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    font-family: sans-serif;
    background-color: gainsboro;
    padding: 2px;
    box-sizing: border-box;
}

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336;
    /* Red */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.alert_closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.alert_closebtn:hover {
    color: black;
}

/* Admin Dashboard and Buttons */
.dashboardWrapper {
    display: flex;
    width: 100%;
}

.dashboard-content {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    /* make child elements stack vertically */
    justify-content: center;
    /* center vertically */
    align-items: center;
    /* center horizontally */
}


.adminButton-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
    /* center horizontally */
}

.adminButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    height: 120px;
    width: 200px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.adminButton:hover {
    background-color: #3E8E41;
}

.user-list {
    background-color: #2196F3;
}

.add-user {
    background-color: #FF9800;
}

.country-data {
    background-color: #9C27B0;
}

.add-country-data {
    background-color: #607D8B;
}

.adminButton i {
    margin-right: 10px;
    font-size: 30px;

}

.adminSmall {
    height: 40px;
    width: 80px;
    padding: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.adminEdit {
    background-color: #2ecc71;
}

.adminDelete {
    background-color: #e67e22;
}

.adminDelete:hover {
    background-color: #d35400;
}

.adminCreate {
    background-color: #e74c3c;
    color: #ffffff;
}

/* iframe transition */
.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in.active {
    opacity: 1;
}