/* fixed header */
header {
    position: sticky;
    top: 0;
    background-color: #333;
    color: #fff;
    padding: 20px;
}
  /* buttons */
.button {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    background-color: #ccc;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
}
